# Build and Release Folders
Debug/
FRMS/Debug/
Release/
ignore/
x64/
FRMS/x64
data/users/

# Other files and folders
.vs/

# Executables
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.test
*.output
*.sln

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
# nothing but leave a massage in the git ignore file, hhh :)
